<% title "Baixe aqui seu checklist | Pense Eventos" %>
<% meta_tag :title, "Baixe aqui seu checklist | Pense Eventos"%>
<% meta_tag :url, request.original_url%>
<% meta_tag :image, 'http://www.penseventos.com.br/assets/banner_blog_v1.jpg' %>
<div class="caixa-form-leads">
      <div class="caixa-form-leads-corpo">
        <h1>Baixe agora seu checklist para eventos!</h1>
        <p>A organização do seu evento não está tão simples como você imaginava? Você sabe que falta alguma coisa e não sabe o que exatamente??
Não se desespere, não jogue seus planos pro alto, nosso checklist pode te ajudar!! Baixe agora e <strong> confira o que falta em seu planejamento !</strong></p>
        <%= form_for :user , url: '/obrigado-pelo-download', method: :post do |f|%>
          <%= f.hidden_field :file_type, value: 1 %>
          <div class="form-group">
            <label>E-mail*</label>
            <p class="help-block">Coloque seu e-mail aqui (se tiver corporativo é melhor ainda!)</p>
            <%= f.email_field 'email' ,class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <label>Nome*</label>
            <p class="help-block">Nos diga seu primeiro nome</p>
           <%= f.text_field 'name', class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <label>Sobrenome*</label>
            <p class="help-block">Nos diga o seu sobrenome</p>
            <%= f.text_field 'last_name', class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <p class="help-block"> Não se preocupe nos odiamos SPAM assim como você. </p>
          </div>
          <%= f.submit "Fazer o download", class: "btn btn-success" %>
      <% end -%>
      </div>
    </div>