
<% title 'Descubra quem é você nos eventos da sua empresa! | Pense Eventos' %>
<% meta_tag :title, "Eu sou #{@title} e você? Descubra quem é você nos eventos da sua empresa!" %>
<% meta_tag :url, request.original_url%>
<% meta_tag :description, @description  %>
<% meta_tag :image, @image %>
<script>
	String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
};

var resultados = [
            { titulo: 'O Puxa Saco.', descricao: 'Chega na festa fica 30 minutos falando so com o chefe para aparecer e depois sai de fininho.', foto: "<%= asset_path('puxasaco.jpg') %>" },
            { titulo: 'O Sem Nocao', descricao: 'Acha que a festa da empresa e uma grande balada, bebe todas, solta a franga, da em cima de todo mundo da festa e passa mal no final.', foto: "<%= asset_path('semnocao.jpg') %>"},
            { titulo: 'O Cara Chato', descricao: 'Reclama do dia que foi marcado, reclama do lugar da festa, reclama do horario, reclama de poder levar a familia e reclama de nao poder levar a familia, acha que a comida esta ruim e a bebida ta quente. Mesmo assim fica do inicio ao fim.', foto: "<%= asset_path('chato.jpg') %>"},
            { titulo: 'O Legalzao', descricao: 'Entrosa com todos os setores da empresa, fala sobre tudo, conta curiosidades e todos querem você na mesa. E o cara que parece que esta sempre bebendo mas nunca fica bêbado. Elogia a comida. Parabens você e o legalzao.', foto: "<%= asset_path('legalzao.jpg') %>"},
            { titulo: 'O Rockstar', descricao: 'Entende que a festa da empresa e o momento certo de mostrar seus grandes talentos escondidos. Sempre encontra uma desculpa para comecar a cantar ou mostrar seus passos de danca.', foto: "<%= asset_path('artista.jpg') %>"},
            { titulo: 'O Workaholic', descricao: 'Sempre chega na festa atrasado porque estava terminando um relatorio. Fala o tempo todo sobre o trabalho, aproveita que a equipe esta reunida para comecar a discutir e cobrar o que esta faltando entregar na proxima semana.', foto: "<%= asset_path('workaholic.jpg') %>"},
            { titulo: 'O Fotografo', descricao: 'Antes de ir para a festa ja posta #partiufestadaempreesa. Chega organizando uma selfie de todos os presentes, vai de mesa em mesa fotografando a todos. No meio da festa manda um live no instagram. Sempre termina organizando aquela grande foto com todo mundo.', foto: "<%= asset_path('fotografo.jpg') %>" }
        ];






window.fbAsyncInit = function () {
    FB.init({
        appId: '1259075417508360',
        xfbml: true,
        version: 'v2.8'
    });
    FB.AppEvents.logPageView();
    FB.getLoginStatus(function (response) {
       if (response.status === 'connected') {
                     fazerTeste(function(result,imgPerfil) {

                   $('#imgCapa').hide();
                   $('#tituloTeste').hide();
                   document.getElementById('testDialog').innerHTML = '<img class="img-responsive" src="'+ imgPerfil + '"/><h1>' + result.titulo + '</h1><p>' + result.descricao + '</p><button type="button" class="refazerteste" onclick="logarFacebook()"> Refazer o teste </button><div class="fb-share-button" data-href="http://penseventos.com.br//descubra-quem-e-voce-eventos-empresa?title=' + result.titulo.replaceAll('  ',' ').replaceAll(' ','+') + '&amp;description=' + result.descricao.replaceAll('  ',' ').replaceAll(' ','+') + '&amp;image=' + result.foto + '" data-layout="button" data-size="large" ><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpenseventos.com.br%2Fdescubra-quem-e-voce-eventos-empresa%3Ftitle%3D' + result.titulo.replaceAll('  ',' ').replaceAll(' ','%2B') + '%26description%3Daaa%26image%3D' + result.foto + '&amp;src=sdkpreparse">Compartilhar</a></div>';
                   FB.XFBML.parse();
})}});

};

(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


function fazerTeste(cb) {
    FB.api('/me', { fields: ['gender', 'picture', 'first_name', 'last_name', 'email'] }, function (response) {


        $.post('/obrigado-pelo-download' ,
        {
            'utf8':'✓',
'authenticity_token':'4UXHY1B+9Slphq3qz5XFhLieHmcr6qO1o4NXXSwKDlBu1pSoxkjQR13ZVF6iXv/CREobHO2Hrw0z2wPsLGtrGg==',
'user[file_type]':'3',
'user[isPJ]':'false',
'user[email]':response.email,
'user[name]':response.first_name,
'user[last_name]':response.last_name,
'commit':'Fazer o download',
        });

       var resultado = resultados[Math.floor(Math.random() * 7)] ;
       console.log(resultado);

        cb(resultado,resultado.foto);

    });
}

function recuperarTeste(testeID) {
    FB.api('/me', { fields: ['gender', 'picture', 'first_name', 'last_name', 'email'] }, function (response) {
        console.log(response);



    });
}


function logarFacebook() {


    FB.getLoginStatus(function (response) {
       if (response.status === 'connected') {
                     fazerTeste(function(result,imgPerfil) {

                   $('#imgCapa').hide();
                   $('#tituloTeste').hide();
                   document.getElementById('testDialog').innerHTML = '<img class="img-responsive" src="'+ imgPerfil + '"/><h1>' + result.titulo + '</h1><p>' + result.descricao + '</p><button type="button" class="refazerteste" onclick="logarFacebook()"> Refazer o teste </button><div class="fb-share-button" data-href="http://penseventos.com.br//descubra-quem-e-voce-eventos-empresa?title=' + result.titulo.replaceAll('  ',' ').replaceAll(' ','+') + '&amp;description=' + result.descricao.replaceAll('  ',' ').replaceAll(' ','+') + '&amp;image=' + result.foto + '" data-layout="button" data-size="large" ><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpenseventos.com.br%2Fdescubra-quem-e-voce-eventos-empresa%3Ftitle%3D' + result.titulo.replaceAll('  ',' ').replaceAll(' ','%2B') + '%26description%3Daaa%26image%3D' + result.foto + '&amp;src=sdkpreparse">Compartilhar</a></div>';
                  FB.XFBML.parse();


                   

});

    } else {
        window.location = encodeURI("https://www.facebook.com/dialog/oauth?client_id=1259075417508360&redirect_uri=http://penseventos.com.br/descubra-quem-e-voce-eventos-empresa&response_type=token&scope=public_profile,email");
    }
           
        
    });

}
</script>
<div class="caixa-testes">
    <div class="caixa-testes-corpo">

        <%= image_tag "imagem_teste.png" , class: 'img-responsive' , id: 'imgCapa'%>
	<h1 id="tituloTeste">Descubra quem é você nos eventos da sua empresa!</h1>
        <div id="testDialog">
        <button class="btn btn-block btn-social btn-facebook" id="btnLogin" onclick="logarFacebook()"> <span class="fa fa-facebook"></span> Fazer login com o Facebook</button>
        </div>
    </div>
</div>
<div id="fb-root"></div>

    <script>
    function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));


    if(getParameterByName('titulo'))
    {
        document.getElementsByTagName('head')[0].appendChild('')
    }
}
</script>
