<% title "Baixe aqui seu framework | Pense Eventos" %>
<% meta_tag :title, "Baixe aqui seu framework | Pense Eventos"%>
<% meta_tag :url, request.original_url%>
<% meta_tag :image, 'http://www.penseventos.com.br/assets/banner_blog_v1.jpg' %>
<div class="caixa-form-leads">
      <div class="caixa-form-leads-corpo">
        <h1>Baixe agora seu framework para eventos!</h1>
        <p>Nosso framework foi feito pensando justamente em <strong> organizar em um lugar só e de modo fácil </strong> todas as principais informações do seu evento. Baixe agora e <strong>facilite sua vida !</strong></p>
        <%= form_for :user , url: '/obrigado-pelo-download', method: :post do |f|%>
          <%= f.hidden_field :file_type, value: 3%>
          <div class="form-group">
            <label>E-mail*</label>
            <p class="help-block">Coloque seu e-mail aqui (se tiver corporativo é melhor ainda!)</p>
            <%= f.email_field 'email' ,class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <label>Nome*</label>
            <p class="help-block">Nos diga seu primeiro nome</p>
           <%= f.text_field 'name', class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <label>Sobrenome*</label>
            <p class="help-block">Nos diga o seu sobrenome</p>
            <%= f.text_field 'last_name', class: "form-control", required: true%>
          </div>
          <div class="form-group">
            <p class="help-block"> Não se preocupe nos odiamos SPAM assim como você. </p>
          </div>
          <%= f.submit "Fazer o download", class: "btn btn-success" %>
      <% end -%>
      </div>
    </div>