<div class="container">
	<div class="row">
		<div class="login-form">
			<div class="login-logo">
				<a href="<%= root_path%>"><img src="/assets/logo_pense_eventos-02.png" alt="Pense Eventos - Login"></a>
			</div><!-- /.login-logo -->

 			 <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal", multipart: true}) do |f| %>

				<div class="form-group">

	 			 	<label for="email">E-mail </label>
	 			 	<%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email" %>
	 			</div>
				<div class="form-group">
					<label for="password">Senha </label>
					<%= f.password_field :password, class: "form-control", autocomplete: "off" , placeholder:"Senha"%>
				</div>
				<%= f.submit "Entrar", class: "btn btn-default" %>
 			 <% end -%>
		</div>
	</div>
</div>