<%= form_for @post,  html: {class: "form-horizontal", multipart: true} do |f|%>
  <div class="form-group">
    <label for="title">Título  </label>
    <p class="help-block">
        Escreva o título do post
      </p>
      <%= f.text_field :title, class: "form-control", required: true, title:"O título é obrigatório e precisa de no mí­nimo 5 caracteres" %>
  </div>

  <div class="form-group">
    <label for="main_image"> Imagem principal </label>
      <p class="help-block">
        Selecione a imagem principal do post
      </p>
      <%= f.file_field :main_image, class: "form-control", accept:"image/jpg,image/jpeg,image/png,image/gif" %>
  </div>

  <div class="form-group">
    <label for="tags"> Tags </label>
      <p class="help-block">
        Tags do post
      </p>
      <%= f.text_field :tag_list, class: "form-control", 'data-role' =>'tagsinput'%>
  </div>

  <div class="form-group">
    <label for="description"> Descrição </label>
      <p class="help-block">
        Pequena descrição do post (resumo)
      </p>
      <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="author"> Autor </label>
      <p class="help-block">
        Digite o nome do autor
      </p>
      <%= f.text_field :author, class: "form-control", required: true, title:"O autor do post é obrigatório e precisa de no mí­nimo 5 caracteres" %>
  </div>

  <div class="form-group">
  <label for="content" Text> </label>
    <p class="help-block">
      Digite o conteúdo do seu post
    </p>
    <%= f.text_area :content, class: "tinymce", rows: 40, cols: 120 %>
    <%= tinymce language: "pt_BR" %>
</div>

 <div class="form-group">
    <label for="pdf_file"> Arquivo </label>
      <p class="help-block">
        Selecione o conteúdo a ser baixado pelo usuário
      </p>
      <%= f.file_field :pdf_file, class: "form-control", accept:"application/pdf" %>
  </div>

  <div class="form-group">
      <label>
        <%= f.radio_button :active, true %> Postar agora
      </label>
      <label>
        <%= f.radio_button :active, false %>Postar depois
      </label>
  </div>

  <div class="form-group">
        <%= f.submit (@post.new_record? ? "Criar" : "Atualizar") , class: "btn btn-success" %>
  </div>
<% end %>
