<% title 'Pense Eventos - O seu blog sobre eventos' %>
<% meta_tag :title,  'Pense Eventos' %>
<% meta_tag :description, 'Seu blog sobre eventos' %>
<% meta_tag :description_twitter, 'Seu blog sobre eventos'  %>
<% meta_tag :url, request.original_url%>
<% meta_tag :image, '/assets/banner_blog_v1.jpg' %>
<div class="container">
      	<div class="row">
   		<div class="col-sm-9" id="posts">
      			<div class="row">
  				<% @posts.each do |post| %>
					<div class="col-sm-6 home-post">
						<img src="<%= post.main_image(:big) %>" class="img-responsive">
						<h3 class="post-title"><%= link_to "#{post.title}", posts_show_path(post.id) %></h3>
						<span class="nome-autor-e-data">Por <%= post.author %> |<%= PostsHelper.string_posted_time post %> atrás </span>
						<p><%= truncate(post.description, length: 440, omission: '...', escape: false) %></p>
						<%= link_to "Continue lendo", posts_show_path(post.id), class: "btn btn-default" %>
					</div>
  				<% end -%>
			</div>
      		</div>
      		<div class="col-sm-3 sidebar">
			<h4>Posts mais visualizados</h4>
			<ol class="lista-visualizados">
				<% @posts.order_by(:views.desc)[0..5].each do |post| %>
					<li class="post-title"><%= link_to "#{post.title}", posts_show_path(post.id) %></li>
				<% end -%>
			</ol>
			<h4>Tags</h4>
			<% PostsHelper::can_shoot_tags?.each do |tag| %>
	             	<span class="btn btn-default"><%= tag %></span>
	            <% end %>
		</div><!--/sidebar-->
      	</div>
</div>