<h1 class="titulo-admin">Posts publicados/a publicar</h1>
<div class="container">
	<%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-default alignright" %>
	<%= link_to "Novo", new_post_path,  class: "btn btn-default" %>
	<%= link_to 'Lista de Leads (Não Filtrada)', users_path(format: :csv), class: "btn btn-default" %>
     	<% if @posts.present? %>
       	<div class="row listagemposts">
			<ul>
				<% @posts.each do |post| %>
					<li>
						<%= post.title %> <br />
						<% if post.active %>
							<span class="post-noar">no ar <i class="fa fa-globe" aria-hidden="true"></i></span>
						<% else %>
							<span class="post-airproar">a ir pro ar <i class="fa fa-clock-o" aria-hidden="true"></i></span>
						<% end -%>
						<br />
				             <%= link_to "Editar", edit_post_path(post.id), class: "btn btn-default" %>
				             <%= link_to 'Excluir', post , method: :delete, confirm: "Voce tem certeza?" , class: "btn btn-default"%>
					</li>
				<% end -%>
			</ul>
		</div>
	<% end -%>
</div>
